*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 50px auto;
    width: 400px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius : 10px;
    box-shadow: 0 0 12px #ccc;
}
.title{
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
input{
    margin-bottom: 10px;
    border-radius : 3px;
    border: none;
    background: white;
}
.form1{
    font-size: 30px;
}
input[type=submit]{
    width: 80px;
    height: 28px;
    /* background: rgb(216, 8, 26); */
    background: #FF5A44;
}
input[type=text]:focus{ 
    outline: none;
    box-shadow: 0 0 12px #ccc;
}
input{
    height: 28px;
}